
.App {
  text-align: center;
}
.container {
  padding: 5px;
}
html, body, #root, .page-container, main {
  height: 100%;
}
:root {
  --font-pink: #E01A4F;
  --background-dark: #12263A;
  --light-blue: #B8D8D8;
}
#root {
  width: 100%;
}
.dark-color {
  color: var(--background-dark);
}
main {
  background-color: var(--light-blue);
  display: flex;
  align-items: center;
  display: flex !important;
}
h2 {
  color: var(--background-dark)
}
/* Header Starts */
.Navbar {
  background-color: var(--background-dark) ;
}
.Nav-link {
  color: var(--light-blue) !important;
}
.Nav-link:hover {
  color: var(--font-pink) !important;
}
.Nav-active {
  color: var(--font-pink) !important;
}
.collapsed {
  color: var(--light-blue) !important;
}
.navbar-toggler{
  border-color: var(--light-blue) !important;
}
#name {
  color: var(--font-pink);
  font-family: 'PT Serif', serif;
  font-size: 40px;
}
/*Header Ends */

/* About Starts */
.about-container {
  display: flex;
  align-self: center;
}
.about-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about {
  margin-top: 15px;
}
.about-text {
  color: var(--background-dark);
}
/* About Ends */

/* Foooter Starts */
.footer-container {
  background-color: var(--background-dark);
  max-width: unset !important;
  margin: 0;
  display: flex;
  justify-content: center
}
.footer-links {
  color: var(--light-blue);
}

/* Footer Ends */
@media screen and (max-width:680px) {
  #name {
    font-size: 25px;
  }
  .page-container {
    height: auto;
  }
  h2 {
    font-size: 20px;
  }
}
/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/