.App {
  text-align: center;
}
:root {
  --font-pink: #E01A4F;
  --background-dark: #12263A;
  --light-blue: #B8D8D8;
}
#name {
  color: var(--font-pink);
  font-family: 'PT Serif', serif;
  font-size: 40px;
}
.Navbar {
  background-color: var(--background-dark);
}
.Nav-link {
  color: var(--light-blue);
}
.Nav-link:hover {
  color: var(--font-pink);
}
main {
  background-color: var(--light-blue);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
