
/* All the !important are to override Bootstrap */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
main {
  height: auto;
  flex-grow: 1;
}
.container {
  padding: 5px;
}
html, body, #root {
  height: 100%;
} 
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
:root {
  --font-pink: #E01A4F;
  --background-dark: #12263A;
  --light-blue: #B8D8D8;
}
#root {
  width: 100%;
}
.dark-color {
  color: var(--background-dark);
}
main {
  background-color: var(--light-blue);
  display: flex;
  align-items: center;
  display: flex !important;
}
h2 {
  color: var(--background-dark)
}
/* Header Starts */
.Navbar {
  background-color: var(--background-dark) ;
}
.Nav-link {
  color: var(--light-blue) !important;
}
.Nav-link:hover {
  color: var(--font-pink) !important;
}
.Nav-active {
  color: var(--font-pink) !important;
}
.collapsed {
  color: var(--light-blue) !important;
}
.navbar-toggler{
  border-color: var(--light-blue) !important;
}
#name {
  font-size: 48px;
  color: var(--font-pink);
  font-family: 'PT Serif', serif;
  font-size: 40px;
}
/*Header Ends */

/* Home Starts */
.home {
  margin-top: 25px;
  min-height: 100vh;
}
.Marilyn-Papadopoulos {
  font-size: 200px;
  font-family: 'Explora', cursive;
  color: (--background-dark);
}
body.page-id-home #name {
  visibility: hidden;
}
.home-column div {
  font-size: 40px;
  color: (--background-dark) !important;
  float: right;
}
/* Home Ends */
/* About Starts */
.about-container {
  display: flex;
  align-self: center;
}
.about-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about {
  align-items: center;
}
.about-text {
  color: var(--background-dark);
  line-height: 1.5;
  font-size: 18px;
}
/* About Ends */
/* Portfolio Starts */
.portfolio-container {
  margin: 35px auto;
}
.portfolio-card {
  margin: 20px auto;
  border: 10px solid  #B8D8D8 !important;
}
.card-title a {
  color: var(--background-dark);
}
.card-title a:hover {
  color: var(--background-dark);
}

/* Portfolio Ends */
/* Skills Starts */
.skills {
  justify-content: center;
  margin-top: 25px;
}
.skills-column div {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  color: var(--background-dark);
}
.icon-mysql-alt, .icon-mongodb, .icon-jquery {
  font-size: 5em;
}
/* Skills Ends */
/* Foooter Starts */
.footer-container {
  background-color: var(--background-dark);
  max-width: unset !important;
  display: flex;
  justify-content: center
}
.footer-links {
  color: var(--light-blue);
  margin-top: 15px;
  margin-bottom: 15px;
}
.footer-links div {
  margin: 0 15px;
}

/* Footer Ends */
@media screen and (max-width:768px) {
  #name {
    font-size: 25px;
  }
  .page-container {
    height: auto;
  }
  h2 {
    font-size: 20px;
  }
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/